@model MusicBlog.Models.Singer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Singer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.Poster) *@
            <img src="@Model.Poster" alt="..." height="100px" width="100px">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Albums)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.Albums)
            {
                @item.Name <a asp-controller="Album" asp-action="Details" asp-route-id="@item.Id">-See</a>
                <br/>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
